*.aux
*.log
*.synctex.gz
*.out
*.toc
*.fls
*.fdb_latexmk
*.blg
*.bbl
*.ind
*.idx
*.ilg
*.lof
*.lot
*.lol
*.maf
*.mtc
*.mtc0
*.nav
*.snm
*.vrb
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.ist
*.fls
*.xdy
*.run.xml
*-blx.bib
*.bcf
*.alg
*.dvi
*.upa
*.upb
*.thm

*.swp
*~
._*
.DS_STORE

*.pdf

.vscode/

bin/
build/